<div class='row'>
  <div class='col-sm-4 col-sm-offset-4'>
    <h4><strong>Login User Details:</strong></h4>
    <p><label>First Name: </label><%= @user["first_name"] %></p>
    <p><label>Last Name: </label><%= @user["last_name"] %></p>
    <p><label>Email: </label><%= @user["email"] %></p>
    <p><label>Mobile: </label><%= @user["mobile_number"] %></p>
  </div>
</div>